@model TodoSample.Models.Ad

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayNameFor(model => model.Title)</h2>

<fieldset>
    <legend>Ad</legend>
    <table class="dataTable">
        <tr>
            <td><div class="display-label">
         @Html.DisplayNameFor(model => model.Detail)
    </div></td>
            <td><div class="display-field">
        @Html.DisplayFor(model => model.Detail)
    </div></td>
        </tr>
        <tr>
            <td> <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div></td>
            <td><div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div></td>
        </tr>
        <tr>
            <td><div class="display-label">
        Category
    </div></td>
            <td><div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div></td>
        </tr>
        <tr>
            <td><div class="display-label">
         @Html.DisplayNameFor(model => model.Views)
    </div></td>
            <td><div class="display-field">
        @Html.DisplayFor(model => model.Views)
    </div></td>
        </tr>
        <tr>
            <td><div class="display-label">
         @Html.DisplayNameFor(model => model.Clicks)
    </div></td>
            <td><div class="display-field">
        @Html.DisplayFor(model => model.Clicks)
    </div></td>
        </tr>
        <tr>
            <td><div class="display-label">
         Ad Type
    </div></td>
            <td><div class="display-field">
        @Html.DisplayFor(model => model.AdType.Name)
    </div></td>
        </tr>
        <tr>
            <td> <div class="display-label">
         @Html.DisplayNameFor(model => model.Latitude)
    </div></td>
            <td><div class="display-field">
        @Html.DisplayFor(model => model.Latitude)
    </div></td>
        </tr>
        <tr>
            <td><div class="display-label">
         @Html.DisplayNameFor(model => model.Longitude)
    </div></td>
            <td><div class="display-field">
        @Html.DisplayFor(model => model.Longitude)
    </div></td>
        </tr>
    </table>


    
    
</fieldset>
<p>
   @Html.ActionLink("View Bill", "Index") | 
    @Html.ActionLink("Back to List", "Index")
</p>
